@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --color-primary: #C92071;
    --color-secondary: #B5B6F2;
    --color-tertiary: #991956;
    --color-error: #EE4266;
    --color-success: #52CA76;
    --color-warning: #F6AA1C;
    --color-dark-gray: #1F1F1F;
    --color-dark-gray-2: #474747;
    --color-dark-gray-3: #666666;
    --color-light-gray: #8F8F8F;
    --color-light-gray-2: #CCCCCC;
    --color-light-gray-3: #F5F5F5;

    --my-grid-template: repeat(auto-fit, minmax(338px, 1fr));
}

@layer base {
    * {
        font-family: var(--font-inter);
        font-weight: 400;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        background: #F9F8FE;
    }

    a.active {
        color: var(--color-primary);
        font-weight: 700;
        position: relative;
        letter-spacing: 0.75px;
    }

    a.active::before {
        content: '';
        position: absolute;
        background: var(--color-primary);
        width: 100%;
        height: 2px;
        border-radius: 2px;
        bottom: -4px;
    }

    .custom-pattern {
        background-image: radial-gradient(#f6aa1c70 2px, transparent 2px);
        background-size: 16px 16px;
        background-color: transparent;
    }

    
    /* .mySwiper .swiper-pagination {
        bottom: -20px !important;
        
    }
    .mySwiper .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        background-color: #999;
        opacity: 1;
    }
    .mySwiper .swiper-pagination-bullet-active {
        background-color: #007bff;
    } */
}